<%= form_with(model: patient, class: "patient-form") do |form| %>
  <% if patient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :identifier, "Identifier (ID/SSN)" %>
    <%= form.text_field :identifier, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :dob, "Date of Birth" %>
    <%= form.date_field :dob, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :contact_info %>
    <%= form.text_area :contact_info, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :reason_for_visit, "Reason for Visit (Registration)" %>
    <%= form.text_area :reason_for_visit, class: "form-control", placeholder: "Short description of why the patient is seeking help..." %>
  </div>

  <div class="form-group">
    <%= form.label :medical_notes %>
    <%= form.text_area :medical_notes, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= form.submit class: "button primary" %>
  </div>
<% end %>
