<h1><%= t('edit') %> <%= t('patient') %></h1>

<%= render "form", patient: @patient %>

<br>

<div>
  <%= link_to t('view'), @patient, class: "button secondary" %> |
  <%= link_to t('back_to_dashboard'), root_path, class: "button secondary" %>
</div>
